.btn {
  @extend %btn-primary;

  flex-grow: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  gap: 8px;
  align-items: center;
  max-height: 20px;
}

.delete {
  cursor: pointer;
  min-width: 40px;
  padding: 2px 0;
  border: 1px solid gray;
}

.group {
  display: flex;
  gap: 20px;
}
