.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  width: 100%;
}

details {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  @extend %btn-primary;
}
